<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="BaaSConfigurationSection" type="BaaSReponsitory.BaaSConfigurationSection,BaaSReponsitory" />
  </configSections>

  <BaaSConfigurationSection>

    <BaaSHosts>
      
      <Host key="parse" name="Parse"  assemblyName="BaaSReponsitory.WindowsPhone" targetVersion="1.0" 
            appId="ai9T7tQCr2FnhHj0lFX0JPSmSvLB6A14V6uCx75B" restApiAppkey="tskREJu4yMIx5Tmz2RjeOXWBggYrmD7lhYRDPc05" 
            restApiAddress="https://api.parse.com" apiVersion="1"/>
      
      <Host key="avos" name="AVOSCloud" assemblyName="BaaSReponsitory.WindowsPhone" targetVersion="1.1" 
            appId="y66gocjlz2l1lkas93vv1y8p7vy744jad98ik4ubg9yobi56" restApiAppkey="m075s8regmz6lbdfqudw778o57z4kbwidimri0xn1k0nv7ht" 
            restApiAddress="https://cn.avoscloud.com" apiVersion="1"/>
    </BaaSHosts>
    
    <CloudClasses> 
      <model ClassName="TestObject" assemblyName="SampleDemo" hostKey="avos"/>
      
      <model ClassName="Todo" assemblyName="SampleDemo" hostKey="parse"/>
    </CloudClasses>
  </BaaSConfigurationSection>
  
</configuration>
